---
permalink: /
title: "About me"
excerpt: "About me"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

<p>
  I am a <s>third</s> fourth-year PhD student in the computer and communication science department at <a href="https://people.epfl.ch/sadegh.farhadkhani?lang=en">EPFL</a>. I am very fortunate to be advised by Prof.
  <a href="http://lpdwww.epfl.ch/rachid/">Rachid Guerraoui</a>, a world leader in distributed computing. Before coming to EPFL, I earned a B.Sc. degree in Electrical Engineering from Sharif University of Technology.
</p>
<p>
  My main line of research is in distributed optimization and machine learning, with a focus on robustness, fault-tolerance, and privacy.
  
<p>For more information, please download my CV from <a href="https://drive.google.com/file/d/1jwaA5IyfgWyJWh1Hs0kb_NmXPWWwZGAP/view?usp=sharing">here</a>.</p>

  
    <h1>Publications</h1>
</p>
You can also find my papers on <a href="https://scholar.google.com/citations?user=X4axFjgAAAAJ&hl=en">Google Scholar</a>.
<br>See the bottom of the page for details regarding my contributions.



{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" style="color: #494e52; margin-bottom: 1em;">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %} 
  {% include archive-single.html %}
{% endfor %}



<p style="margin-top: 30px;"> * The authors' list is always in alphabetical order in our group. In [1, 2, 4, 6, 7], I played a primary role (coming up with the idea, algorithms, proofs, etc.). In [3, 5] I played a secondary role. The main idea of [3] was initiated in one of our discussions with YA inspired by [2]. Youssef then did all the heavy lifting for this work.
  Initially, [5] was NG and RP’s project, studying the impact of momentum in Byzantine ML. In a group meeting, I noticed that their
  approach can be generalized by changing the definition of robustness to the one used in [7]. I then joined the project and proved that this
  definition is satisfied by almost all existing works, which led to a unifying framework for Byzantine machine learning.</p>
