---
title: "Publications"
permalink: /publications/
author_profile: true
---

You can also find my papers on <a href="https://scholar.google.com/citations?user=X4axFjgAAAAJ&hl=en">Google Scholar</a>. 
<br>See the bottom of the page for details regarding my contributions.


{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.publications reversed %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    {% if written_year == '2022' %}
    <br>
      <p>* I did not attend ICML 2022 as I received my visa late.</p>
    {% endif %}
    <h2 id="{{ year | slugify }}" style="color: #494e52; margin-bottom: 1em;">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %} 
  {% include archive-single.html %}
{% endfor %}






<p style="margin-top: 30px;"> * The authors' list is always in alphabetical order in our group. The lead author(s) is usually indicated as the "corresponding author" in the papers. In [1, 3, 4, 5, 8, 9], I was a lead author and I played a primary role (coming up with the idea, algorithms, proofs, etc.). The main idea of [5] was initiated in one of our discussions with YA inspired by [4]. Youssef then did all the heavy lifting for this work.
  Initially, [7] was NG and RP’s project, studying the impact of momentum in Byzantine ML. In a group meeting, I noticed that their
  approach can be generalized by changing the definition of robustness to the one used in [9]. I then joined the project and proved that this
  definition is satisfied by almost all existing works, which led to a unifying framework for Byzantine machine learning.</p>

